# Python-related
*.pyc
*.pyo
__pycache__/
*.pyd
*.pdb

# Virtual environment
venv/
.env

# IDE-specific
.vscode/
.idea/

# Logs and temporary files
*.log
*.tmp
*.bak
*.swp
*.swo
*.DS_Store

# Streamlit cache
.streamlit/

# Test coverage reports
htmlcov/
.coverage
*.cover
*.py,cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Build artifacts
build/
dist/
*.egg-info/